<jhi-layout-section [fixHeader]="true">
  <!-- Content Header (Page header) -->
  <jhi-layout-section-header>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Box-Default</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </jhi-layout-section-header>
  <jhi-layout-section-content>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <jhi-box header="Expandable Box Default" [isRemovable]="false" [isCollapsed]="false">
          The body of the box
        </jhi-box>
      </div>
      <!-- <div class="col-md-3 col-xs-12">
        <jhi-box header="Collapsable Box Success" boxColor="green" [isRemovable]="false">
          The body of the box
        </jhi-box>
      </div>
      <div class="col-md-3 col-xs-12">
        <jhi-box header="isRemovable Box Warning" boxColor="warning" [isCollapsable]="false">
          The body of the box
        </jhi-box>
      </div>
      <div class="col-md-3 col-xs-12">
        <jhi-box header="isLoading Box Danger" boxColor="danger" [isCollapsable]="false" [isLoading]="true" [isRemovable]="false">
          The body of the box
        </jhi-box>
      </div> -->
    </div>
  </jhi-layout-section-content>
</jhi-layout-section>

